h1{
    text-align: center;
    text-decoration-line: underline;
}
body {

    margin-left: 50px;
    margin-right: 50px;
    }

footer{
    text-align: center;
    margin-top: 200px;
}

#partPrincipal{
    text-align: center;
}